<div class="row">
    <div class="col">

        <div class="featured-boxes">
            <div class="row">
                <div class="col-md-6">
                    <div class="featured-box featured-box-primary text-left mt-5">
                        <div class="box-content">
                            <h4 class="heading-primary text-uppercase mb-3">Register An Account</h4>
                            <form action="/" id="frmSignUp" method="post">
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label>E-mail Address</label>
                                        <input type="text" value="" class="form-control form-control-lg">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-lg-6">
                                        <label>Password</label>
                                        <input type="password" value="" class="form-control form-control-lg">
                                    </div>
                                    <div class="form-group col-lg-6">
                                        <label>Re-enter Password</label>
                                        <input type="password" value="" class="form-control form-control-lg">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <input type="submit" value="Register" class="btn btn-primary float-right mb-5" data-loading-text="Loading...">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>